$main-color: rgb(244, 67, 54);
$secondary-color: rgb(244, 100, 54);
$secondary-color-light: rgb(255, 120, 50);

$p-main-color: rgb(255, 255, 255);
$p-secondary-color: rgb(233, 233, 233);
$p-secondary-color-dark: rgb(50, 50, 50);

$shadow-color: rgb(156, 156, 156);

$bg-light: rgb(255, 238, 217, 0.2);
$bg-dark: rgb(255, 238, 217, 0.8);
