@import '../../../styles/color';
@import '../../../styles/font';
@import '../../../styles/spacing';

.alternative-options {
  height: 75vh;
  display: flex;
  flex-direction: column;
  background: $bg-light;
  background: linear-gradient($bg-light 80%, $bg-dark);
  color: $p-secondary-color-dark;
}
