@import '../../../styles/color';
@import '../../../styles/font';
@import '../../../styles/spacing';

.alternative-options {
  height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: $bg-light;
  color: $p-secondary-color-dark;
}
