@import '../../../styles/color';
@import '../../../styles/font';
@import '../../../styles/spacing';

.footer-page {
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: $bg-dark;
    color: $p-secondary-color-dark;
}