@import './app/styles/color';
@import './app/styles/font';
@import './app/styles/spacing';

/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: $p-font-family;
}

.title-cntr {
    width: 100%;
    display: flex;
    justify-content: center;
    
    &__title {
        text-shadow: 0.5px 0.5px 0.5px $shadow-color;
    }
}