<div class="main-page">
    <div class="title-cntr">
        <h1 class="title-cntr__title">
            Lohnt es sich für mich ein eigenes Auto zu haben?
        </h1>
    </div>
    <div class="undertitle-cntr">
        <p class="undertitle-cntr__undertitle">
            Wie viel kostet der Besitz eines privaten Autos?
        </p>
        <p class="undertitle-cntr__undertitle">
            Wir haben errechnet, wie viel Geld nach dem Kauf eines Wagens jeden Monat ausgegeben wird.
        </p>
        <p class="undertitle-cntr__undertitle">
            Gleichzeitig haben wir einen Rechner erstellt, mit dem Sie die Ausgaben für eigenes Auto berechnen und z.B. mit anderen Optionen, wie Carshering vergleichen könnnen.
        </p>
    </div>
    <div class="btn-cntr">
        <button class="btn-cntr__btn">Btn</button>
    </div>
</div>
