<div class="main-page">
  <div class="title-cntr">
    <h1 class="title-cntr__title">
      Lohnt es sich für mich ein eigenes Auto zu haben?
    </h1>
  </div>
  <div class="undertitle-cntr">
    <p class="undertitle-cntr__undertitle">
      Wie viel kostet der Besitz eines privaten Autos?
    </p>
  </div>
  <div class="btn-cntr">
    <button
      mat-flat-button
      color="primary"
      class="btn-cntr__btn"
      (click)="scrollToCostCalculation()"
    >
      BERECHNEN
    </button>
  </div>
</div>
