.main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../../assets/img/main-page-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}